body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#scanner-container {
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Set a maximum width */
  margin: 0 auto; /* Center the container */
  border: 3px solid #333; /* Add a solid border for better visibility */
  padding: 10px; /* Add some padding */
  position: relative; /* Ensure positioning context for QR code box */
}

#qr-data {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

/* Hide the form */
#hiddenForm {
  display: none;
}
