body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  h1 {
    margin-top: 20px;
  }
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  #qr-reader {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  @media (max-width: 600px) {
    button {
      width: 90%;
      font-size: 14px;
      padding: 15px;
    }
  }

/* Toast container */
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Toast notification */
.toast {
  display: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  margin-bottom: 10px;
}

  